
<h1 [style.font-size]="Size20 ? '20px' : '50'"  mat-dialog-title>Lista de Inscripciones </h1>

<form (ngSubmit)="onSubmit()" [formGroup]="inscripcionesForm">
  <div class="grid w-6">
      <div class="col-6">
          <mat-form-field class="w-full">
              <mat-label>Nombre</mat-label>
              <input formControlName="nombre" matInput/>
              <div *ngIf="inscripcionesForm.get('nombre')?.invalid && inscripcionesForm.get('nombre')?.touched">
                  <small class="error-text">Nombre es requerido</small>
              </div>
          </mat-form-field>
      </div>
      <div class="col-6">
          <mat-form-field class="w-full">
              <mat-label>Curso</mat-label>
              <input formControlName="curso" matInput/>
              <div *ngIf="inscripcionesForm.get('curso')?.invalid && inscripcionesForm.get('curso')?.touched">
                  <small class="error-text">Curso es requerido</small>
              </div>
          </mat-form-field>
      </div>  
  </div>
  <button type="submit" mat-flat-button>Agregar</button>
</form>

<br>

<table mat-table [dataSource]="inscripciones" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
          <button (click)="onDelete(element.id)" mat-icon-button>
              <mat-icon>delete</mat-icon>
          </button>
          <button (click)="onEdit(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
          </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
